{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Questions by Codenation Class 1{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'polls/vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for Questions -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>

<body>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'polls:index' %}">
              <img src="{% static 'polls/img/logo.png' %}" width="140" class="d-inline-block align-top" alt="Codenation">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="{% url 'polls:index' %}">My Questions</a></li>
              <li><a href="#">Random</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">Logout({{user.username}})</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      {% block breadcrumb %}
      {% endblock %}

      {% if error_message %}
      <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{ error_message }}
        </div>
      {% endif %}

      {% block content %}{% endblock %}

  </div><!-- container -->

  <script src="{% static 'polls/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'polls/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
