{% extends "polls/base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'polls:index' %}">Questions</a></li>
  <li class="active">{{ question.question_text }}</li>
</ol>
{% endblock %}

{% block content %}

     <form action="{% url 'polls:vote' question.id %}" method="post">
     {% csrf_token %}
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ question.question_text }}</h3>
      </div>
      <div class="panel-body">
       {% for choice in question.choice_set.all %}
            <div class="radio">
              <label>
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                {{ choice.choice_text }}
              </label>
            </div>
        {% endfor %}
      </div>
      <div class="panel-footer">
        <input class="btn btn-primary" type="submit" value="Vote" />
      </div>
    </div>
    </form>

{% endblock %}
