{% extends "polls/base.html" %}

{% block content %}

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">My Questions</h3>
      </div>
      <div class="panel-body">
        {% if latest_question_list %}
        <div class="list-group">
          {% for question in latest_question_list %}
          <a class="list-group-item" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          {% endfor %}
        </div>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
      </div>
    </div>

{% endblock %}
