{% extends "polls/base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li><a href="{% url 'polls:index' %}">Questions</a></li>
  <li class="active">{{ question.question_text }}</li>
</ol>
{% endblock %}

{% block content %}

     <form action="{% url 'polls:vote' question.id %}" method="post">
     {% csrf_token %}
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ question.question_text }}</h3>
      </div>
      <div class="panel-body">
          <ul class="list-group">

          {% for choice in question.choice_set.all %}
            <li class="list-group-item">
                <span class="badge">{{ choice.vote_set.count }}</span>

                {{ choice.choice_text }}
            </li>
          {% endfor %}
          </ul>
      </div>
      <div class="panel-footer">
          <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary" role="button">Vote again?</a>
      </div>
    </div>
    </form>

{% endblock %}

