{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Questions by Codenation Class 1{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'polls/vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for Questions -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
  </head>

  <body id="login">

    <div class="container">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Your username and password didn't match. Please try again.
        </div>
      {% endif %}


      <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading">Questions - Sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>
